docs/event_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element name="fecha" type="xs:date" />
        <xs:element name="lugar" type="xs:string" />
        <xs:element name="ids_ponentes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ponente_id" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ids_asistentes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="asistente_id" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
